@model OrionZadatak.Entities.Ugovor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ugovor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrajanjeUgovorneObaveze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrajanjeUgovorneObaveze)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GratisPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GratisPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BrojUgovora" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
